@import url('https://fonts.googleapis.com/css?family=Srisakdi');

main {
  width: 100%;
}

#root {
  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

#clock-container {
  font-family: 'Srisakdi', cursive;
  font-size: 30px;
  padding: 25px;
  width: 500px;
  margin: 0 auto;
}

#clock {
  background-color: orange;
  border: 3px solid black;
  padding: 25px;
}

#clock div {
  display: flex;
  justify-content: space-between;
}

#clock-container h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
